<div class="container">
    <h1>Posts</h1>
    <div class="posts-list" id="posts-list">
        <div class="post-item">
                <h2><a href="#" onclick="loadPost('Docker-Based Function Chaining System: A Microservices Approach to Function Orchestration'); return false;">Docker-Based Function Chaining System: A Microservices Approach to Function Orchestration</a></h2>
                <div class="post-meta">
                    <span class="post-date">August 2024</span>
                    <span class="post-tags">
                        <span class="tag">Edge Computing</span><span class="tag">Serverless</span>
                    </span>
                </div>
                <p class="post-description">
                    This project aims to develop serverless edge computing functionalities and a function chain controller.
                </p>
            </div>
    </div>
</div>